{% extends 'login/login_base.html' %}
  {% block title %}Attendance App{% endblock %}
 
  {% block msg3 %}{{mismatch}}{{password_changed}}{% endblock %}
  {% block content %}

	<form action="/change_password/" method="POST">
		<div class="wrapper">
			<input class="input" type="password" name=new_password style="top: 30px" placeholder="Enter new password">
			<span class="underline" style="top:83px"></span>

			<input class="input" type="password" name=confirm_password style="top: 50px" placeholder=" confirm Password">
			<span class="underline" style="top:153px"></span>
		</div>
		<br>
	  <button type="submit"> </button>
	</form>
	<br>
  </div>
	<center>
		<div style="font-family: 'Arvo';font-size: 15px;top: 75%;left: 40%;position: absolute">
			<a href="/login/" style="color: dodgerblue"><--Back</a>
		</div>
	</center>








	{% endblock %}
