{% extends 'login/login_base.html' %}
  {% block title %}Attendance App{% endblock %}
 
  {% block msg3 %}{{notexist}}{% endblock %}
  {% block content %}


		<form action="/forgot_password/" method="POST">
			<div class="wrapper" style="height: 100px">
				<input class="input" type="text" name=email style="top: 30px" placeholder="Enter your mail-id">
				<span class="underline" style="top:83px"></span>
			</div>
			<button type="submit"> </button>
		</form>
	</div>
	<center>
		<div style="font-family: 'Arvo';font-size: 15px;top: 60%;left: 45%;position: absolute">
			<a href="/login/" style="color: dodgerblue"><--Back</a>
		</div>
	</center>
	{% endblock %}
