{% load static %}
<!DOCTYPE html>
<html> 
<head>
  <title>{% block title %}{% endblock %}</title>
  <link rel="stylesheet" type="text/css" href="/static/css/login.css">
</head>
<body>
	
<div class="split left">
	<div class="centered">
	</div>
</div>

<div class="split right">

	<center>
	  <img src="/static/images/login_logo.jpg" style="width: 100px; height: 100px;margin: 0px 10px 0px 0px; padding-top: 70px;padding-left: 10px">

		<div style="color: red;font-family: 'Arvo';font-size: 20px;top: 30%;left: 30%;position: absolute;">
		{% block msg3 %}{% endblock %}
		</div>
		<div style="color: green;font-family: 'Arvo';font-size: 20px;top: 30%;left: 30%;position: absolute;">
			{% block pass_ch %}{% endblock %}
		</div>
	</center>

	<div class="centered">

       {% block content %}
	    {% endblock %}
	</div>

</div>

</body>
</html>