{% extends 'index5.html' %}

{% block navhead %}Hello Parent!{% endblock %}
{% block title %}Parent_dashboard{% endblock %}
{% block nav1 %}
    <a href="/parent_profile/" data-toggle="collapse" aria-expanded="false" ">Profile</a>
{% endblock %}
{% block nav2 %}
    <a href="/parent_dashboard/" data-toggle="collapse" aria-expanded="false" ">Candidate Attendance</a>
{% endblock %}


{% block nav3 %}
<a href="/weekly_stats/?enroll_no={{student.enroll_no}}&division={{student.division}}" data-toggle="collapse" aria-expanded="false">Weekly Stats</a>
{% endblock %}

{% block nav5 %}<a href="/logout/" data-toggle="collapse" aria-expanded="false">Logout</a>
{% endblock %}

{% block page4 %}<a class="nav-link" href="/logout/">Logout</a>{% endblock %}


{% block content %}



<em><h3> Attendance Summary </h3></em>
<br>
<table id="customers">
  <tr>
    <th>Subject</th>
    <th>Teacher</th>
    <th>Total Lectures</th>
    <th>Attended Lectures</th>
    <th>Attendance</th>
  </tr>
    {% for i in obj %}
   
     <tr>
     <td>{{i.subject}}</td>   
     <td>{{i.teacher}}</td>  
    <td>{{i.total}}</td>
    <td>{{i.present}}</td>
    <td>{{i.attendance}} %</td>

     </tr>
     {% endfor %}
</tr>
 
 <tr style="font-weight: bolder;"> 
  <td colspan="2"> AVERAGE :</td>
    <td>{{total_lectures}}</td>
    <td>{{student.total_present}}</td>
    <td>{{student.avg_attendance}} %</td>
  </tr>
</table>








{% endblock %}
