{% extends 'index5.html' %}

{% block navhead %}Hi {{name}}!{% endblock %}
{% block title %}head_dashboard{% endblock %}


{% block nav1 %}
    <a href="/head_dashboard/" data-toggle="collapse" aria-expanded="false" ">Profile</a>
{% endblock %}

{% block nav2 %}<a href="/time_table/">Time Table</a>{% endblock %}

{% block nav3 %}<a href="/all_students/">Students</a>{% endblock %}
{% block nav4 %}<a href="/all_teachers/">Subjects</a>{% endblock %}
{% block nav5 %}<a href="/logout/" data-toggle="collapse" aria-expanded="false">Logout</a>
{% endblock %}

{% block nav6 %}<a href="/register_student/" data-toggle="collapse" aria-expanded="false">Register student</a>
{% endblock %}
{% block nav7 %}<a href="/register_teacher/" data-toggle="collapse" aria-expanded="false">Register teacher</a>
{% endblock %}



{% block page4 %}<a class="nav-link" href="/logout/">Logout</a>{% endblock %}


{% block content %}
<h4 style="color: green">{{success}}</h4>
<h4 style="color: red">{{duplicate_enroll}}</h4>

<div class="form-style-5">

<form action="/register_student/" method="post">
<fieldset>
<legend><span class="number">1</span> Candidate Info</legend>
<input type="text" name="enroll_no" placeholder="Enter Enrollment No.">
<input type="text" name="name" placeholder="Enter name">
<input type="password" name="password" placeholder="Enter password">
<input type="email" name="email" placeholder="Enter Email Id">
<input type="number" name="age" placeholder="Enter Age">

<select id="job" name="gender">
  <option value="male">Male</option>
  <option value="female">Female</option>
  <option value="other">Other</option>
</select>      
</fieldset>

<fieldset>
<!-- <label for="job">College:</label> -->
<legend><span class="number">2</span> College Info</legend>
<input type="text" name="division" placeholder="Enter division">
<input type="date" name="admission_date" placeholder="Enter admission date">
</fieldset>
<input type="submit" value="submit" />
</form>
</div>
<!-- 
      <b>Division</b>
    <input type="text" placeholder="Enter Division" name="division" required>
        
    <button type="submit">Register</button>
  </div>


</form> -->

{% endblock %}
